.doughnutChart {
  margin: 0 auto;
  padding: 2%;
}
.barChart {
  margin: 0 auto;

  padding: 2%;
}
@media only screen and (min-width: 1000px) {
  .charts {
    display: flex;
  }

  .barChart {
    margin: 0 auto;
    padding: 2%;
  }
}
