.toolbarLogo img {
  height: 50px;
  width: 50px;
}

.topBarContainer {
  display: flex;
  flex-direction: row;
}

.topBarButton {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}
