.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: red !important;
}

.classes__root {
  width: 300px;
  margin: 10px;
}

.training__container {
  background-color: rgb(223, 219, 219);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trainingCard__header {
  text-align: center;
}

.trainingCard__checkIcon {
  justify-content: space-between;
}

.myPlan__title {
  text-align: center;
  font-weight: bold;
  background-color: rgb(223, 219, 219);
}

.myPlan__subtitle {
  font-size: 30px;
  color: #030b2f;
  margin: 0 auto 20px;
}

.trainingCard__image {
  height: 250px;
  width: 300px;
  object-fit: contain;
}

.trainingCard__time {
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #fe466a;
  border-radius: 50%;
  padding: 3%;
}

.countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

.countdown-number {
  color: black;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
  margin: 0 auto;
}

.countdown-svg {
  position: absolute;
  right: 5%;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown-svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #fe466a;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 113px;
  }
}

.training__card__disabled {
  opacity: 0.3;
}

.myProfile {
  max-width: 600px;
  margin: 0 auto;
}

.myProfile__avatar {
  background-color: #3f51b5;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.myProfile__container {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}

.myProfile__bmiIcon {
  color: #3f51b5;
}
