.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: red !important;
}

.training__container {
  background-color: rgb(243, 239, 239);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trainingCard__header {
  text-align: center;
}

.trainingCard__checkIcon {
  justify-content: space-between;
}

.myPlan__title {
  text-align: center;
  font-size: 40px;
  color: #030b2f;
}

.myPlan__subtitle {
  font-size: 30px;
  color: #030b2f;
  margin: 0 auto 20px;
}

.trainingCard__image {
  height: 250px;
  width: 300px;
  object-fit: contain;
}

.trainingCard__time {
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #fe466a;
  border-radius: 50%;
  padding: 3%;
}
