.app__container {
  background-color: rgb(235, 235, 235);
}

.classes__root {
  width: 300px;
  margin: 7px;
}

.training__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trainingCard__header {
  text-align: center;
  color: #fe466a;
}

.trainingCard__checkIcon {
  justify-content: space-between;
}

.header__title {
  text-align: center;
  color: #3f51b5;
}

.myPlan__subtitle {
  font-size: 30px;
  color: #030b2f;
  margin: 0 auto 20px;
}

.trainingCard__image {
  height: 250px;
  width: 300px;
  object-fit: contain;
}

.trainingCard__time {
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #fe466a;
  border-radius: 50%;
  padding: 3%;
}

.countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

.countdown-number {
  color: black;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
  margin: 0 auto;
}

.countdown-svg {
  position: absolute;
  right: 5%;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown-svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #fe466a;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 113px;
  }
}

.training__card__disabled {
  opacity: 0.3;
}

.myProfile {
  max-width: 600px;
  margin: 0 auto;
}

.myProfile__avatar {
  background-color: #3f51b5;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.myProfile__container {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}

.myProfile__bmiIcon {
  color: #fe466a;
}
